html {
  font-family: sans-serif;
  color: #6e768f;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  background-color: #eceef4;
}
header a,
header a:active,
header a:visited {
  text-decoration: none;
  color: #a5abc5;
}
.tone-set,
.urgency-set {
  display: inline-block;
}
.tone-set label {
  display: block;
}
main {
  background-color: #eceef4;
}
main form {
  border: 50px solid #eceef4;
  /*LOOOL 50px but anyway =(*/
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.button-as-a {
  width: 200px;
  background-color: #eceef4;
  border: 1px solid #6e768f;
  border-radius: 5px;
  color: #a5abc5;
  padding: 15px;
  text-align: center;
}
.go-back {
  width: 200px;
  background-color: #eceef4;
  border: 1px solid #6e768f;
  border-radius: 5px;
  color: #a5abc5;
  padding: 15px;
  text-align: center;
}
.sign-in {
  width: 200px;
  background-color: #eceef4;
  border: 1px solid #6e768f;
  border-radius: 5px;
  color: #a5abc5;
  padding: 15px;
  text-align: center;
}
.header-steps {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150%;
  color: #6e768f;
}
.circled-header {
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #6e768f;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10PX;
  padding-top: 5px;
  padding-bottom: 5px;
}
.language-set > h1,
.input-set > h1,
.tone-set > h1,
.urgency-set > h1,
.payment-set > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150%;
  color: #6e768f;
}
.language-set > h1:before,
.input-set > h1:before,
.tone-set > h1:before,
.urgency-set > h1:before,
.payment-set > h1:before {
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #6e768f;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10PX;
  padding-top: 5px;
  padding-bottom: 5px;
}
.input-set > h1:before {
  content: '1';
}
.language-set > h1:before {
  content: '2';
}
.tone-set > h1:before {
  content: '3';
}
.urgency-set > h1:before {
  content: '4';
}
.payment-set > h1:before {
  content: '5';
}
.radio-wrapper input {
  visibility: hidden;
  position: absolute;
}
.radio-wrapper img,
.radio-wrapper span {
  cursor: pointer;
}
.radio-wrapper input:checked + img,
.radio-wrapper input:checked + span {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 5px solid #76a7e1;
  border-radius: 3px;
}
.order-fastsubmit {
  text-align: center;
}
.order-fastsubmit button {
  display: block;
}
button {
  width: 200px;
  background-color: #f7f7fa;
  color: #6e7692;
  font-size: 12px;
  padding: 20px;
  padding-left: 40px;
  margin-top: 5px;
  padding-right: 40px;
  border: 1px solid #6e7692;
  border-radius: 5px;
  text-transform: uppercase;
}
.order-setup > h1 {
  margin: 20px;
  margin-left: 30%;
  font-size: 24px;
  width: 600px;
  text-align: center;
  border-bottom: 2px solid #6e7692;
}
.order-setup label:first-of-type {
  margin-left: 15%;
}
.order-setup > .radio-wrapper {
  display: inline-block;
  width: 28%;
}
.order-setup .tone-set span {
  margin-top: 60px;
  background-color: #f7f7fa;
  color: #6e7692;
  font-size: 16px;
  padding: 20px;
}
.order-setup .tone-set .radio-wrapper {
  margin-top: 60px;
  margin-left: 30px;
}
.custom-radio-input-span {
  margin-top: 60px;
  background-color: #f7f7fa;
  color: #6e7692;
  font-size: 16px;
  padding: 20px;
}
.order-description {
  margin-bottom: 10px;
  border-bottom: 3px solid #6e7692;
}
.order-description h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.order-description h1,
.order-description th {
  text-transform: uppercase;
  font-weight: bold;
}
.order-description .help-info {
  border-left: 3px solid #6e7692;
  height: 150px;
  padding-left: 20px;
}
.order-description th,
.order-description td {
  padding-left: 15px;
}
.order-description li {
  display: inline-block;
  vertical-align: top;
  margin-left: 10%;
}
.order-description .place-order {
  color: #ffffff;
  font-weight: bold;
  background-color: #5fcac6;
}
.order-description .print-quote {
  text-transform: uppercase;
}
.order-description address {
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.order-description address a {
  color: inherit;
  text-decoration: none;
}
footer {
  background-color: #eceef4;
}
.footer-content .social-media {
  display: block;
  margin: 5px;
  text-decoration: none;
  color: #6e768f;
}
.footer-content .social-media:before {
  margin-right: 20px;
}
.footer-content li {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-left: 10%;
}
.footer-content li h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-content li h4:before {
  font-size: 200%;
  margin-left: -30px;
}
